img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.centered {
  text-align: center;
  word-wrap: break-word;
}

.left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.small {
    font-size: x-small;
}
